{%extends 'base.html'%}
{% block main %}
<div class = "container">
    <h1>{{product.name}}</h1>   
    <div class="card-deck mb-3 text-center">
    <div class="media">
        <img src="{{product.src}}" class="mr-3" alt="hahaha" style = "height:200px">
        <div class="media-body">
          <h4>Price ${{product.price}}</h4>
          <p>
              {{product.desc}}
          </p>
          <a href = "/add-cart/{{product.id}}" type="button" class="btn btn-dark">Add to cart</a>
        </div>
      </div>
</div>
{% endblock %}
