{% extends "base.html" %}
{% block main_wrapper %}

<div class = "container">
    <div class="text-center">
    <h1>Welcome {{user.get('name')}}</h1>
    </div>
    <div class = "row">
        {% for item in items %}
        {% if item.username == user.get('username') %}
        <div class = 'col-md-3'>
        <div class="card">
            <img src="/static/upload/{{item.filename}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.price }}</p>
              <p class="card-text">{{ item.desc }}</p>
              <a href="/item/{{item.item_id}}" class="btn btn-primary">Detail</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}